<p *ngIf="(auth.isAuthenticated$ | async) === false">
  Please, login to proceed.
</p>
<div *ngIf="auth.isAuthenticated$ | async">
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="navigateToProductCreate()"
  >
    Create new
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies; let i = index">
        <td>{{ movie.title }}</td>
        <td>{{ movie.release_date }}</td>
        <td id="actions-group">
          <button
            type="button"
            class="btn btn-outline-warning"
            routerLink="/movies/update/{{ movie.id }}"
          >
            Update
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            routerLink="/movies/delete/{{ movie.id }}"
          >
            Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>
