<mat-card>
    <mat-card-title>New Movie</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Title"
                [(ngModel)]="movie.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Release Date"
                [(ngModel)]="movie.release_date" name="release_date">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createMovie()" color="primary">
        Save
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>
