<div class="navbar-nav mr-auto">
  <div class="nav-item">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div class="nav-item">
    <a
      class="nav-link"
      target="_blank" 
      rel="noopener noreferrer" 
      href="https://casting-api-silve1ra.herokuapp.com/docs"
    >
      API
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Profile
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/actors"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Actors
    </a>
  </div>
  <div class="nav-item">
    <a
      routerLink="/movies"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Movies
    </a>
  </div>
</div>
